<footer class="footer ">
  
  <nav style="float: left;">
    <ul>
	
         <li><%= link_to "الرئيسية", 	root_path %></li>
    </ul>
  </nav><small style="float: right;">

  المعهد الحديث
  </small>
</footer>